.container {
  height: 100%;
  width: 100%;
  border: 1px solid gray;

  display: flex;
  flex-direction: column
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 2.5rem;
  border-bottom: 1px solid gray;
}

.chart {
  flex: 1;
}


.chart-tooltip {
  font-weight: 700;
}