.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 2.5rem;
  border-bottom: 1px solid gray;

  .leftPart {
    display: flex;
    align-items: center;

    .ticker {
      cursor: pointer;
      margin-right: 1rem;
      padding-right: 0.5rem;


      &:hover {
        background-color: lightgrey;
      }
    }
  }
}

.chart {
  flex: 1;
}


.chart-tooltip {
  font-weight: 700;
}